[Desktop Entry]
Name=Shogidokoro
Comment=GUI for Shogi engines
GenericName=Shogi
Exec=wine /home/corrado/Shogidokoro/Shogidokoro.exe
Icon=wine
Terminal=false
Type=Application
Keywords=Shogi;
Categories=Game

